extends layout 
block contenido

    panel.crear.proyect 
        a(href="/inicio") ir a autos

    form.agregar(action="/modelos")
            <table border="1"bordercolor="blue" width="50%" height="50%"> 
                <caption style="color: blueviolet;"><strong> REPUESTOS </strong> </caption>
                <tr> 
                    <td>Tipo</td> 
                </tr>      
                <tr>              
                    <td>Autocompatible</td> 
                </tr>
                <tr>                    
                    <td>Peso</td>
                </tr>        
                <tr>        
                    <td>Precio</td>
                <tr>             
                    <td>Material</td>   </tr>        
                <tr>             
                    <td>Stock</td>   </tr>        
                <tr>             
                    <td>Estado</td>  
                </tr>        
            </table>            
